{% extends "base.html" %}

{% block content %}
<div class="container">

    <div id="main-content">
        <div class="search-form-box">
            <form id="async-search-form" class="search-form" data-api-url="{% url 'library:api_search' %}">
                <div style="margin: 15px 0;">
                    <input type="text"
                           id="q"
                           name="q"
                           placeholder="Enter book title or genre..."
                           style="width: 70%; padding: 8px; font-size: 16px;">
                    <button type="submit" id="search-button" style="padding: 8px 20px; font-size: 16px;">
                        Search
                    </button>
                </div>
            </form>

            <div id="quick-results"></div>
        </div>
    </div>
    <div id="sidebar-wrapper">
       {% include "includes/sidebar.html" %} 
    </div>
    
</div>
</div>
{% endblock %}